header{
    background-color: green;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
}
h1, h2, h3{
    margin:0;
    display: block;
    width: 100%;
    text-align: center;
}


nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 0px 30px;
    line-height: 40px;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: green;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
}

p {
    text-align: justify;
}

main {
    float:left;
    width:80%;
}

aside{
    float:left;
    width:20%;
}
aside a{
    display: block;
    text-align: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
}

p.small {
    font-size: 0.6em;
    text-align: center;
    color: #CCCCCC;
}